:root {
    --primary-color: #189FE3; // Azul
    --secondary-color: #707070; // Cinza
    --white-color: #FFFFFF;
    --black-color: #000000;
    --text-gray-color: #707070;

    // Cores de destaque
    --success-color: #28a745; // Verde
    --info-color: #17a2b8; // Azul claro
    --warning-color: #ffc107; // Amarelo
    --danger-color: #dc3545; // Vermelho
}

body {
    font-family: 'Helvetica', 'Roboto', sans-serif !important;
}

.custom-title {
    color: var(--text-gray-color);
}